<%= link_to("/chatroom/#{chatroom.id}", class: "ui card chatpreview") do%>
    <div class="content chatroom_name">
        <div class="center aligned ui tiny header">
             <%= chatroom.name || "Chatroom"  %>
        </div>
    </div>
    <div class="content" id="cr_<%=chatroom.id%>">
        <% if current_page?(chatrooms_path)%>
            <%="#{@last_messages.peek[:username]}:  #{@last_messages.next[:body]}"%>
        <%else%>
            <%= truncate("#{@last_messages.peek[:username]}:  #{@last_messages.next[:body]}", length:30) %>
        <%end%>
        <div class="ui tiny message floated right aligned time-ago msg">
            <%= chatroom.updated_at.to_time.to_s(:time)%>
        </div>
    </div>
<% end %>
