<%if @current_chatroom %>
    <%=link_to @current_chatroom.name || "Chatroom", "/chatrooms/#{@current_chatroom.id}/edit", class: "ui sub header content center aligned chatroom-name"%>
<% end %>
<div class="content" id="message-board">
    <div class="ui feed" id= "message-display">
        <% if @has_content %>
            <%= render @messages %>
        <% end %>
    </div>
</div>
<div class="extra content">
    <%= form_with(model: @message, html: {class: "ui reply form", role: "form"}, url: message_path, remote: true) do |f|%>
        <div class="field">
            <div class="ui fluid icon input">
                <%= f.text_field :body, class: "ui input"%>
                <%= f.button class: 'ui tiny button primary', id:"send-message" do %>
                    <i class="edit icon" id="send-button"></i>
                <% end %>
            </div>
        </div>
    <% end %>
</div>

